body {
  font: $font-size $font-roboto, serif;
  min-width: $screen-width;
  display: flex;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin-left: 330px;
}

body {
  font: $font-size $font-roboto, serif;
  min-width: $screen-width;
  display: flex;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin-left: 330px;
}

.base {
  margin: 100px 40px 0;
}

.container {
  min-width: $container-width;
}

input:focus,
button:focus,
a:focus {
  outline-width: 0;
}

a {
  color: #4A90E2;
  text-decoration: underline;

  &:hover {
    color: darken(#4A90E2, 10%);
    text-decoration: none;
  }
}

*,
:before,
:after {
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
  height: 18px;
  width: 18px;
}

.hidden {
  display: none !important;
}