// Path
$path-font: "../fonts";
$path-image: "../img";

// Colors
$color-grey: #D8D8D8;
$color-grey-dark: #4A4A4A;
$color-grey-light: #F7F7F7;
$color-green: #5CB85C;
$color-blue: #4A90E2;
$color-blue-light: #CEF0E3;
$color-red: #D0021B;

// Shadow
$box-shadow: inset 0 1px 0 0 #ECECEC;

// Border-color
$color-border: #ccc;

// Animation duration
$animation-duration: 0.5s;

// Fonts
$font-roboto: Helvetica, Arial, sans-serif, 'Roboto';
$font-size: 14px;
$font-awesome: normal normal normal 14px/1 FontAwesome;

// Width
$screen-width: 1440px;
$container-width: 980px;

