.alert {
  height: 62px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 40px;

  @extend .flex-center;

  p {
    font-style: italic;
    font-size: 12px;
    margin: 0;
  }

  &--info {
    background: rgba(206, 240, 227, 0.5);
  }
}
