alias ll='ls -la'
alias artisan='php /home/www/app/artisan'
alias composer='php /home/www/app/composer.phar'
alias tests='php /home/www/app/vendor/bin/phpunit'
alias clearlog='echo "" > /home/www/app/storage/logs/laravel.log'
alias clearcaches='rm -f /home/www/app/bootstrap/cache/*.php && artisan cache:clear'
alias tinker='php /home/www/app/artisan tinker'
alias fresh='clearcaches && artisan optimize && artisan config:cache && artisan queue:restart'
alias fixpermissions='bash /etc/cont-init.d/02-set-permissions'
